<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>	
  
  <!-- This Configuration for registration form -->
  <servlet>
  		<servlet-class>com.jsp.servlet_simple_crud_operation.controller.ProductInsertController</servlet-class>
  		<servlet-name>register</servlet-name>
  </servlet>
  <servlet-mapping>
  		<servlet-name>register</servlet-name>
  		<url-pattern>/productRegister</url-pattern>
  </servlet-mapping>
  
  
  <!--  This configration for delete Controller-->
  <servlet>
  		<servlet-class>com.jsp.servlet_simple_crud_operation.controller.ProductDeleteByIdController</servlet-class>
  		<servlet-name>del</servlet-name>
  </servlet>
  <servlet-mapping>
  		<servlet-name>del</servlet-name>
  		<url-pattern>/delete</url-pattern>
  </servlet-mapping>
</web-app>
